<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include nav.html %}
    <div class="wrapper">
        <div class="title">
            <h1>{{ page.title }}</h1>
        </div>
        <div class="center">
        <div class="tc_div_20808" style="width:650px;height:162.50px;border:1px solid #C0C0C0;"><a title="Ramen!!!" href="http://www.tickcounter.com/countdown/1467507600000/asia-tokyo/dhms/FFFFFFCF0417E306785DAF0A/Ramen!!!">Ramen!!!</a><a title="Countdown" href="http://www.tickcounter.com/">Countdown</a></div><script type="text/javascript">(function(){ var s=document.createElement('script');s.src="http://www.tickcounter.com/loader.js";s.async='async';s.onload=function() { tc_widget_loader('tc_div_20808', 'Countdown', 650, ['1467507600000', 'asia-tokyo', 'dhms', 'FFFFFFCF0417E306785DAF0A', '650', 'C0C0C01', 'Ramen!!!']);};s.onreadystatechange=s.onload;var head=document.getElementsByTagName('head')[0];head.appendChild(s);}());</script>
        </div>
    </div>
    {% include footer.html %}
</body>
</html>
