<!DOCTYPE html>
<html>
{% include head-home.html %}

<body>
    {% include nav-home.html %}
    <div class="home">
        <header class="header-home">
            <a class="link" href="{{ site.url }}/about/">
                <img class="selfie" alt="{{ site.title }}" src="{{ site.url }}/{{ site.picture }}">
            </a>
            <h1 class="title-home">{{ site.title }}</h1>
            <h2 class="description-home">{{ site.bio }}</h2>
            <h1 class="title-home" src="{{ site.url }}/news/">News</h1>
            <div align="left">
            <ul>
              <li> 2016-09-14 | Submitted a paper to AAAI'17 </li>
              <li> 2016-05-31 | Brain network presentation (NetSci'16) </li>
              <li> 2016-03-14 | Network embedding presentation (University of Tokyo) </li>
              <li> 2015-10-01 | Receive Japanese government scholarship. </li> 
            </ul>
            </div>
            {% include social-links.html %}
        </header>
        {% include footer-home.html %}
    </div>
</body>

</html>
